* {
	font-family: 'Titillium Web', sans-serif;
}

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  min-height: 100%;
}

#splash {
	overflow: hidden;
	background: #f7f7f7;
}

#logo {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5rem;
	font-size: 10rem;
	text-align: center;
	color: #0d1321;
}
#it {
	color: #46b1c9;
}
#sublogo > p {
	margin-top: -5rem;
	font-size: 3rem;
	color: #5a5766;
	text-align: center;
}
.container {
	margin-top: 5rem;
}
#footer {
	background: #f7f7f7;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: right;
}
#footer > p {
	margin: 0;
}

.nav-button {
	background-color: blue;
	margin: auto;
	width: 150px;
	text-align: center;
}

.nav-bar {
	position: fixed;
	top: 0px;
	background: white;
	z-index: 999;
	width: 100%;
	padding-top: 10px;
}

.main-container{
	position: relative;
	margin-top: 50px;
}
